<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="onLogin()">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>

    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <button type="submit">Login</button>
  </form>

  @if (errorMessage) {
  <div class="error-message">
    {{ errorMessage }}
  </div>
  }

  <div>
    <p>Don't have an account? Register <a routerLink="/register">here</a></p>
  </div>
</div>
